<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redis User Manajemen System</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>User Management</strong>
          </a>
              <ul class="navbar">
                <li class="nav-link active"><a href="/" class="text-white">Home</a></li>
                <li class="nav-link"><a href="/user/add" class="text-white">Add User</a></li>
              </ul>
        </div>
      </div>
    </header>
    <div class="container">
      {{{body}}}
    </div>
</body>
</html>